@font-face {
  font-family: "iconfont"; /* Project id 3616274 */
  src: url('iconfont.woff2?t=1661753068813') format('woff2'),
       url('iconfont.woff?t=1661753068813') format('woff'),
       url('iconfont.ttf?t=1661753068813') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-denglu:before {
  content: "\e62e";
}

.icon-gerenzhongxin-wentifankui:before {
  content: "\e697";
}

.icon-tuichudenglu:before {
  content: "\e613";
}

.icon-denglu1:before {
  content: "\e614";
}

.icon-yonghufankuibeifen:before {
  content: "\e604";
}

.icon-xiangshang:before {
  content: "\e600";
}

.icon-xiangxia:before {
  content: "\e601";
}

.icon-iconfonti:before {
  content: "\e62b";
}

.icon-weibiaoti39:before {
  content: "\e638";
}

.icon-ai-home:before {
  content: "\e60d";
}

.icon-shouye1-copy:before {
  content: "\e64e";
}

.icon-pinglun:before {
  content: "\e60c";
}

.icon-shangxiajiantou:before {
  content: "\e6b7";
}

.icon-shezhi-xue:before {
  content: "\e631";
}

.icon-shezhi:before {
  content: "\e60e";
}

.icon-xiangxiajiantoucuxiao:before {
  content: "\e8c8";
}

.icon-xiangshangjiantoucuxiao:before {
  content: "\e8d8";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-shangjiantou:before {
  content: "\eb6e";
}

.icon-youjiantou:before {
  content: "\e608";
}

.icon-shezhi1:before {
  content: "\e671";
}

.icon-duibifenxi:before {
  content: "\e602";
}

.icon-shezhi2:before {
  content: "\e65d";
}

.icon-zuojiantou:before {
  content: "\e752";
}

.icon-fenxi:before {
  content: "\e60f";
}

.icon-arrow_left_fat:before {
  content: "\e62c";
}

.icon-arrow_right_fat:before {
  content: "\e62d";
}

.icon-shujudaoru:before {
  content: "\e653";
}

.icon-chevronsrightshuangyoujiantou:before {
  content: "\e6d6";
}

.icon-menu_plgl:before {
  content: "\e65a";
}

.icon-fenxi1:before {
  content: "\e610";
}

.icon-a-youjiantouzhixiangyoujiantou:before {
  content: "\e611";
}

.icon-a-zuojiantouzhixiangzuojiantou:before {
  content: "\e612";
}

.icon-normal:before {
  content: "\e7db";
}

.icon-normal1:before {
  content: "\e7dc";
}

.icon-black:before {
  content: "\e7df";
}

.icon-normal2:before {
  content: "\e7e1";
}

.icon-duibifenxi1:before {
  content: "\e615";
}

.icon-shangxiajiantou1:before {
  content: "\ee31";
}

